.list{
    margin: 1.5rem;
}
.listItems,.listItemTitle{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
.listItemTitle{
    background-color: #3b6ed3;
}
.listItem{
    width: 13rem;
}
.listItems:nth-child(even) {
    background-color: #eef8f7;
    border-right: 5px solid #eef8f7;
    
  }
  .listItems:nth-child(odd) {
    background-color: #f0f0f0;
    border-right: 5px solid #f0f0f0;
  }

.liFavorite{
    cursor: pointer;
}
.liFavorite,.liFavorites{
    width: 5rem;

}